@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	/* --color-emphasis: #fbc92d; */
	--color-emphasis: #fe0048;
	--color-text: #2a272f;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #444;
	--color-revealer: #fe0048;
	 /* rgb(250, 201, 47); */
	--color-side-text: #ddd;
	--color-toggle-bg: #333;
	--color-toggle: #fff;
	--color-title-full: #aaa;
	--color-description-full: #929292;
	--color-lines: #f3f3f3;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	--easeTime: 0.8s;
	--transition: all 0.8s ease;
}

.fullview__item-titlewrap,
.showcase-container,
.first-view,
.fullview__item,
.fullview__item div {
	max-width: 100vw;
	overflow: hidden;
}

#nav {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #ffffff; 
		border-bottom: 1px solid var(--color-lines);
		z-index: 100;
      	box-shadow: 0 0 21px 0 rgba(0,0,0,.1);
}

/* header */

.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 3;
  }
  
  .header {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .header .menu-btn:hover {
	background-color: #f4f4f4;
  }
  
  .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
  }
  
  .header a {
	  display: block;
	  text-decoration: none;
	}
  
  .menu-item {
	  overflow: hidden;
  }
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	padding: 0 20px;
  }
  
  .menu a {
	  padding: 20px 0 20px 0;
	  border-top: 1px solid var(--color-lines);
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }

  /* END NAV */

.scrollable {
	overflow-y: scroll;
}

p,
.job-description li {
	font-size: 0.9em;
	line-height: 1.5em;
}

a:active {
	color: var(--color-emphasis);
}

iframe {
	border: none;
}

.player {
	margin-bottom: 20px;
}

.ev-logo {
	fill: var(--color-emphasis);
}

.logo-container {
	padding: 8px 13px 7px 13px;
	display: inline-block;
}

.logo-container-home {
	position: absolute;
}

.banner-container {
	display: flex;
	flex-direction: column;
}

.border-top {
display: none;
}

.footer-border-top {
	display: inline-block;
	height: 1px;
	background-color: var(--color-lines);
}

.column {
	margin-left: 5px;
}

.flex {
	display: flex;
}

.label {
	font-size: 0.85rem;
	line-height: 0;
	color: var(--color-description-full);
	margin-top: 3vh;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

#b728x90,
#b160x600,
#b300x600 {
	display: none;
}

.demo-grid {
	--body-text: var(--color-text);
	--body-text-alt: var(--color-emphasis);
	--body-bg: #ffffff;
	--link-text: var(--color-text);
	--link-text-hover: var(--color-emphasis);
	--content-font: 'Montserrat', sans-serif;
}

.content {
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	--pieces-height: 50vh;
	/* padding-bottom: 60vh; */
	/* height: var(--pieces-height); */
	/* margin-bottom: 8em; */
}

.page-nav {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding: 0 8vw;
	justify-content: center;
	align-items: flex-end;
	opacity: 0;
	font-family: var(--content-font);
}

.page-nav a {
	font-size: 1.5rem;
}

.info--open {
	opacity: 1;
	transform: scale(1);
	height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-nav__item {
	font-size: 1vw;
}

.page-nav__item--close {
	font-size: 1.85em;
	margin: 1em 0 0 0;
	color: var(--body-text-alt);
	position: relative;
}

.page-nav__item--close:hover,
.page-nav__item--close:focus {
	color: var(--body-text-alt);
	text-decoration: line-through;
}
/* 
.content__title {
	background: transparent;
	width: 84vw;
	font-size: 1.2rem;
	color: var(--color-emphasis);
	border: 2px dotted var(--color-emphasis);
	transition: all 0.3s;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: none;
	-moz-transition: none;
	pointer-events: auto;
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 25px;
}

.content__title:hover,
.content__title:focus {
	background: var(--color-emphasis);
	color: #fff;
	border: 2px solid var(--color-emphasis);
	transition: all 0.3s;
} */

.page-nav--open ~ .content__title {
	pointer-events: none;
}

.info ~ .content__title {
	pointer-events: none;
	opacity: 1;
}

.content .pieces {
	height: var(--pieces-height);
	width: calc(var(--pieces-height) * calc(888/1000));
	position: absolute;
	align-self: flex-end;
    left: 23%;
    top: -20%;
	margin-left: calc(-1 * var(--pieces-height) * calc(888/1000) / 2);
	margin-top: calc(100vh - var(--pieces-height));
	pointer-events: none;
	margin-left: 7vw;
}

.info-hidden {
	opacity: 0;
	transform: scale(0.8);
	height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus,
a:active {
	color: var(--color-emphasis);
	outline: none;
	text-decoration: line-through;
	transition: all 0.5s;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	margin-top: 59px;
	position: relative;
	z-index: 1;
	padding: 1rem;
	font-size: 0.75rem;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.logo {
	fill: var(--color-emphasis);
}

main {
	position: relative;
	height: 100vh;
}

.grid--thumbs {
	display: none;
}

.grid--outer {
	padding: 50px 8vw 50px 8vw;
}

.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.title-wrap {
	padding: 0;
	margin-top: 5vh;
}

.side {
	font-size: 0.85rem;
	color: var(--color-side-text);
}

.side__content {
	display: block;
	padding: 0 1vw 0 0;
}

.grid__item-title {
	font-weight: normal;
}

.title {
	margin: 0;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 2.2rem;
	color: var(--color-emphasis);
}

.subtitle {
	font-size: 1rem;
	margin: 0;
}

.profession {
	font-size: 0.9rem;
	margin: 0 0 25px 0;
	display: block;
}

.year {
	font-size: 1rem;
	display: block;
}

.fullview__details-container {
	margin-top: 20px;
}

.fullview__details {
	color: var(--color-emphasis);
	font-size: 0.85rem;
	margin-bottom: 0;
}

.year::before {
	content: '―';
	margin-right: 0.5rem;
}

.fullview__item {
	margin: 0 0 2vw 0;
	overflow-y: scroll;
}

.fullview__item-title {
	color: var(--color-emphasis);
	line-height: 1.85rem;
	padding-bottom: 4px;
}

.fullview__item-title-body {
	color: var(--color-text);
	line-height: 1.85rem;
	font-weight: bold;
	font-size: 1.75rem;
	margin: 24px 0px;
}

.fullview__item-titlewrap {
	background: #fff;
}

.fullview__title {
	display: none;
	color: var(--color-title-full);
	font-weight: normal;
	font-size: 1rem;
	z-index: 10;
}

.fullview__title-mobile {
	margin: 0;
	color: var(--color-title-full);
    font-weight: normal;
    font-size: 1rem;
    z-index: 99;
    line-height: 1;
    bottom: 0;
    top: auto;
    left: 0;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: scale(-1);
}

.fullview__item-number {
	font-size: 1.5rem;
	padding: 3vw 1.5vw 0 1.5vw;
	margin-top: 3vw;
	background: #fff;
	display: block;
}

.fullview__item-title {
	font-weight: bold;
	font-size: 1.75rem;
	margin: 0;
}

.fullview__item-description {
	font-size: 0.85rem;
	color: var(--color-description-full);
	margin: 0;
}

.fullview__item-more {
	font-weight: bold;
}

.fullview__year-list {
	padding-left: 0;
	margin-top: 4px;
	max-width: 360px;
	font-size: 0.85rem;
	line-height: 1rem;
}

.fullview__year-list li {
	line-height: 1.2rem;
	list-style-type: none;
}

.showcase-container {
	display: flex;
	flex-direction: column;
	z-index: 1;
	width: 100vw;
	padding: 40px 8vw;
	border-top: 1px solid var(--color-lines);
}

.player-container {
    width: 100%;
    height: 100%;
	max-width: 94vw;
	z-index: 99;
}

.player-container-inner {
	position: relative;
    padding-top: 25px;
	height: 0;
	padding-bottom: 97.5%;
}

.player {
    box-sizing: border-box;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
	width: 84vw;
}

.player-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.my-pic {
	height: 100vh;
	margin-top: 0;
}

.my_story-wrap {
	padding: 0;
	margin-bottom: 30vh;
}

.btn {
	background: transparent;
	color: var(--color-emphasis);
	border: 2px dotted var(--color-emphasis);
	transition: all 0.3s;
	cursor: pointer;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: none;
	-moz-transition: none;
	pointer-events: auto;
	padding: 20px;
    margin: 20px 0 30px 0;
    display: flex;
    justify-content: center;
}

.btn:hover {
	background: var(--color-emphasis);
	color: #fff;
	border: 2px solid var(--color-emphasis);
	transition: all 0.3s;
}

.first-view {
	display: flex;
	flex-direction: column;
}

.preview-container {
	max-width: 84vw;
}

.preview {
	max-width: 84vw;
	margin: 2vh 0 0 0;
}

.fullview__item-h3 {
	margin-top: 5vh;
}

.img-full-width {
	display: none;
}

.img-full-width-top {
	width: 100vw;
}

.my_pic-container {
	background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    margin-left: -90px;
    margin-top: -283px;
	height: 56vh;
	z-index: 0;
    margin-left: 0;
}

.cv-container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
.cv-block-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.cv-block-left {
	flex-grow: 1;
	max-width: 6vw;
	margin-right: 25px;
	display: flex;
	align-items: center;
	flex-direction: row;
	align-items: center;
}

.dash {
	display: block;
	margin: 0 5px;
	font-weight: 600;
}

.cv-date,
.company-name {
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.5rem;
}

.cv-block-right {
	margin-top: 3px;
}

.job-description {
	padding-left: 5vw;
}

.university-name {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 5px;
}

.space-30 {
	height: 20px;
}

.tools p {
	margin: 5px 0;
}

.tools ul li {
	margin: 5px 0;
}

.langs {
	display: flex;
	flex-direction: column;
}

.fullview {
	overflow-x: hidden;
}

.fullview__item-number {
	font-size: 1.3rem;
	align-self: start;
	background: none;
	padding: 0;
	margin: 0 0 10px 0;
}

.fullview__item-number::before {
	content: '―';
	margin-right: 0.5rem;
}

.flex-wrap {
	flex-wrap: wrap;
	justify-content: center;
}

.site-demo {
	width: 84vw;
	/* box-shadow: 0 0 21px 0 rgba(0,0,0,.1); */
	align-self: center;
}

.mobile-demo-1 {
	align-self: flex-start;
	margin-left: 0;
	width: 90vw;
}
	
.mobile-demo {
	align-self: flex-start;
	margin-left: 0;
	width: 110vw;
}

.mobile-demo-container {
	display: flex;
	justify-content: center;
	margin-top: -20px;
	margin-bottom: -20px;
}

.gallery-item {
	width: 84vw;
}

.mobile-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-p p {
	color: var(--color-title-full);
	font-weight: normal;
	font-size: 1rem;
}

.footer-p {
	display: flex;
	justify-content: center;
}

.pic-as-bg {
	background-image: url(img/Elena-pic-3.jpg);
    background-repeat: no-repeat;
    background-size: 140vw;
	background-position: 100% 100%;
	padding-bottom: 20px;
}

.contact-label {
	color: var(--color-description-full);
}

.credits {
	font-size: 0.5rem;
	max-width: 84vw;
	margin-bottom: -40px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: calc(100vh - 269px);}

.contact-details {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.screens-gallery {
	display: flex;
	flex-direction: column;
	width: 84vw;
}

.screen-gallery-column {
	display: flex;
	flex-direction: column;
}

.screen-gallery-item img {
	width: 70vw;
	margin: 5px 0;
}

.screen-gallery-item {
	display: flex;
    justify-content: center;
    align-items: center;
}

#gg {
	width: 210vw;
	margin: 20px 60vw 0 0;
}

.centered-bg {
	display: flex;
	background-color: var(--color-lines);
	justify-content: center;
	margin-top: 5px;
	padding: 80px 0;
}

.projects-item-counter {
	width: 40px;
	font-size: .7rem;
	height: 2rem;
	border-bottom: 1px solid #e5e5e5;
	vertical-align: top;
	display: inline-block;
	text-align: right;
	padding: 1rem 0px 0px 0.2rem;
	margin-right: 10px;
	margin-top: 9px;
}

.fullview__item-h3 {
	display: flex;
}

.menu-item-home {
	margin: 4vw 0;
	pointer-events: auto;
	display: inline-block;
	text-align: left;
	z-index: 100;
}

.page-nav--open {
	z-index: 100;
}

.content__title-container {
	margin-top: 0;
	margin-bottom: 1vh;
	align-self: flex-end;
}

.my_story-wrap p {
	font-family: 'Oswald';
	font-size: 16vw;
	line-height: 1em;
	margin: auto;
	width: 90vw;
    color: #000000;
}

.space-10 {
	height: 10px;
}

/* Btn-2 */

.button-holder-home {
	height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: flex-end;
	z-index: 100;
}

.btn-2 {
	cursor: pointer;
	background-color: #000;
	width: 330px;
	height: 64px;
	line-height: 64px;
	position: fixed;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;	
  }
  .btn-2 span {
	color: #fff;
	display: block;
	padding-left: 35px;
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
	transform-origin: center left;
	transition: color 0.3s ease;
	position: relative;
	z-index: 1;
  }
  .btn-2 em {
	position: absolute;
	height: 1px;
	background: #fff;
	width: 47%;
	right: 23px;
	top: 50%;
	transform: scaleX(0.25);
	transform-origin: center right;
	transition: all 0.3s ease;
	z-index: 1;
  }
  .btn-2:before,
  .btn-2:after {
	content: "";
	background: var(--color-emphasis);
	height: 50%;
	width: 0;
	position: absolute;
	transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .btn-2:before {
	top: 0;
	left: 0;
	right: auto;
  }
  .btn-2:after {
	bottom: 0;
	right: 0;
	left: auto;
  }
  .btn-2:hover:before {
	width: 100%;
	right: 0;
	left: auto;
  }
  .btn-2:hover:after {
	width: 100%;
	left: 0;
	right: auto;
  }
  .btn-2:hover span {
	color: #fff;
  }
  .btn-2:hover em {
	background: #fff;
	transform: scaleX(1);
  }

  .grid__toggle-text {
	  font-size: 1rem;
  }

  .img-full-width-container {
	margin-top: -10vh;
    margin-bottom: 10vh;
  }

  .img-full-width-top-container {
	margin-top: -10vh;
    margin-bottom: 5vh;
  }

  #nav {
	box-shadow: none;
}

@media screen and (min-width: 55em) {
	.js main {
		/* height: 100vh; */
		overflow: hidden;
	}

	.btn {
		background: transparent;
		color: var(--color-emphasis);
		border: 2px dotted var(--color-emphasis);
		transition: all 0.3s;
		cursor: pointer;
		max-width: 24vw;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		outline: none;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transition: none;
		-moz-transition: none;
		pointer-events: auto;
		padding: 1.6vw;
		margin: 3vw 0;
		display: flex;
		justify-content: center;
	}

	.btn-2 {
		left: 35%;
	}

	.btn a {
		margin: 20px 80px;
	}
	
	.btn:hover {
		background: var(--color-emphasis);
		color: #fff;
		border: 2px solid var(--color-emphasis);
		transition: all 0.3s;
	}
	
	.my-pic {
		height: 85vh;
		margin-top: 15vh;
	}

	.my_pic-container {
		display: flex;
		justify-content: flex-end;
		margin-top: 95px;
		width: 35vw;
		height: 81vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: top;
		background-position-x: right;
		z-index: 0;
		margin-left: 53vw;
	}

	.menu-item {
		margin: 1.5vw 1.5vw 0 -20px;
		pointer-events: auto;
		display: inline-block;
		text-align: left;
		z-index: 1;
	}
	
	.menu-item-home {
		margin: 1vw 0 1vw 0;
		pointer-events: auto;
		display: inline-block;
		text-align: left;
		z-index: 1;
    }
    
    .zero-item {
		grid-area: 1 / 2 / 1 / 6;
	}

	.first-item {
		grid-area: 1 / 3 / 1 / 6;
	}

	.second-item {
		grid-area: 1 / 4 / 1 / 6;
	}

	.last-item {
		grid-area: 1 / 5 / 1 / 6;
    }
    
    .grid-scrollable {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: grid;
		grid-template-columns: 16vw 16vw 16vw 20vw 12vw;
		grid-column-gap: 5vw;
		pointer-events: none;
		overflow: hidden;
    }

    .menu a {
        padding: 0;
        border-top: none;
    }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /* END NAV */
	
	.message {
		display: none;
	}
	.codrops-header {
		padding: 1vw;
	}
	.title,
	.fullview__item-title,
	.fullview__item-title-body {
		font-size: 1.6rem;
	}
	
	.side {
		display: flex;
	}
	.side__content {
		padding: 1vw;
	}
	.grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: 16vw 16vw 16vw 20vw 12vw;
		grid-column-gap: 5vw;
		pointer-events: none;
		overflow: hidden;
	}

	.cv-container {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}
	.cv-block-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 40px;
	}
	.cv-block-left {
		flex-grow: 1;
		max-width: 6vw;
		margin-right: 25px;
		display: flex;
		align-items: center;
		flex-direction: column;
		align-items: center;
	}
	.cv-block-right {
		flex-grow: 2;
		max-width: 45vw;
		margin: 0;
	}
	.cv-date {
		font-size: 1em;
		font-weight: 400;
	}
	.company-name,
	.university-name {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 15px;
		margin-top: 0;
	}
	.vertical-line {
		width: 1px;
		height: 15px;
		margin: 3px auto;
		background-color: var(--color-text);
	}
	.job-description {
		padding-left: 15px;
	}
	.job-description li {
		font-size: 0.9em;
		line-height: 1.5em;
		margin-top: 5px;
	}

	.tools {
		margin-right: 10vw;
	}

	.tools p {
		margin: 5px 0;
	}
	.grid--outer {
		padding: 0;
		grid-template-rows: 13vh auto;
		align-items: start;
	}
	.grid__box:not(:first-child),
	.grid__box:not(:last-child)  {
		border: 1px solid var(--color-lines);
		border-width: 0 1px;
	}
	.grid--thumbs {
		z-index: 100;
	}
	.grid__item {
		pointer-events: auto;
		align-self: end;
		transform: translate3d(0,23px,0);
	}
	.grid__item::after {
		content: '';
		position: absolute;
		width: calc(100% + 2vw);
		height: calc(100% + 3vw);
		bottom: 0;
		left: 0;
	}
	.grid__item:not(.grid__item--more) {
		cursor: pointer;
	}
	.grid__item-imgwrap {
		position: relative;
		overflow: hidden;
	}
	.grid__item-img {
		width: 100%;
	} 
	.grid__item-bg {
		width: 120%;
		height: 120%;
		position: absolute;
		top: -10%;
		left: -10%;
		background-size: cover;
	}
	.codrops-header {
		pointer-events: auto;
		grid-area: 1 / 1 / 1 / 5;
	}
	.title-wrap {
    padding: 2vw 0;
	margin-top: 2vh;
	grid-area: 2 / 2 / 2 / 6;
	}

	.my_story-wrap {
		padding: 7vh 37vw 0 0;
	}

	.space-30 {
		height: 30px;
	}

	.side {
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		grid-area: 2 / 5 / 2 / 6;
	}
	.grid__toggle {
		background: #ffffff;
		color: var(--color-emphasis);
		border: 1px dotted var(--color-emphasis);
		margin: 0;
		padding: 0;
		cursor: pointer;
		height: calc(8vw + 30px);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 1.15rem;
		position: relative;
		width: 100%;
		pointer-events: auto;
	}
	.grid__toggle:focus {
		background: var(--color-emphasis);
		color: #ffffff;
		border: 1px solid var(--color-emphasis);
		outline: none;
	}
	.grid__toggle-inner {
		display: flex;
		align-items: flex-end;
	}
	.grid__toggle-more {
		display: inline-block;
		margin-top: -30px;
	}
	.grid__toggle-back {
		opacity: 0;
		position: absolute;
		height: 44%;
		bottom: 0;
		display: flex;
		align-items: center;
	}
	.grid__toggle-icon {
		width: 0.75vw;
		height: 1.05vw;
		margin: 0.15vw 0 0 0.5vw;
		display: inline-block;
		fill: currentColor;
		stroke-width: 1px;
		stroke: #fff;
	}
	.grid__toggle-icon--more {
		height: 0.75vw;
		stroke-width: 2px;
	}
	.grid__item-title,
	.grid__item-number {
		z-index: 100;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
	}
	.grid__item-title span,
	.grid__item-number span {
		display: block;
	}
	.grid__item-title {
		position: absolute;
		top: -2vw;
		right: -1.75vw;
		white-space: nowrap;
		margin: 0;
	}
	.grid__item-number {
		top: -2vw;
		right: 0;
		line-height: 1;
		position: absolute;
		font-size: 1rem;
		color: var(--color-description-full);
	}
	.fullview {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		pointer-events: none;
	}
	.fullview__title {
		display: block;
		position: fixed;
		margin: 2vw;
		line-height: 1;
		bottom: 0;
		top: auto;
		left: 0;
		-webkit-writing-mode: vertical-rl;
		writing-mode: vertical-rl;
		transform: scale(-1);
	}

	.fullview__details-container {
		margin-top: 40px;
	}

	.fullview__details {
		color: var(--color-emphasis);
		margin-bottom: 5px;
		font-size: 0.9rem;
		font-weight: bold;
		display: block;
		text-transform: uppercase;
		line-height: 1;
		bottom: 0;
		top: auto;
		left: 0;
	}

	.fullview__year-list li {
		list-style-type: none;
		padding-left: 0;
		margin-top: 0.7vw;
		max-width: 360px;
		font-size: 0.9rem;
		line-height: 0.8rem;
		list-style-type: none;
	}
	.fullview__year-list ul {
		list-style-type: none;
	}

	.fullview__item {
		display: grid;
		position: absolute;
		padding: 80vh 1.5vw 1.5vw;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: grid;
		grid-template-columns: 33% 67%;
		padding: 2vw;
		margin: 0;
	}
	.fullview__item-number {
		font-size: 1rem;
		align-self: start;
		background: none;
		padding: 0;
		margin: 30px 0 0 -10px;
	}
	.fullview__item-titlewrap {
		align-self: end;
		margin-top: 1vh;
		background: none;
		padding: 1.5vw;
	}

	.fullview__item-h3 {
		align-self: end;
		margin-top: 50px;
		background: none;
		padding: 0 1.5vw;
	}

	.fullview__item-description,
	.profession {
		font-size: 1rem;
		max-width: 360px;
		line-height: 1.8rem;
		margin-top: 2px;
	}

	.subtitle,
	.year {
		font-size: 0.9rem;
		/* color: var(--color-description-full); */
	}

	.fullview,
	.fullview__item {
		opacity: 0;
	}
	.revealer {
		position: absolute;
		top: 100vh;
		left: 0;
		width: 100%;
		height: 100vh;
		background: var(--color-revealer);
	}
	
	.first-view {
		display: flex;
		flex-direction: column;
	}

	.wrap {
		flex-wrap: wrap;
	}

	.banner {
		margin-right: 1vw;
	}

	.showcase-container {
		margin-top: 5vw;
		display: flex;
		flex-direction: column;
		/* width: 90vw; */
		z-index: 1;
		padding: 0 8vw;
		border: none;
		overflow-x: hidden;
	}

	#b728x90,
	#b160x600,
	#b300x600 {
		display: flex;
		flex-direction: column;
	}

	.player {
		box-sizing: border-box;
		background: url(../img/Laptop-frame6.png) center center no-repeat;
		background-size: contain;
		padding: 9.5% 13% 15% 13%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.player-container {
		width: 100%;
		height: 100%;
		max-width: 84vw;
		margin: 0 auto;
	}
	
	.player-container-inner {
		position: relative;
		padding-top: 25px;
		padding-bottom: 67%;
		height: 0;
		margin-top: -20px;
	}

	.border-top {
		border-top: 1px solid var(--color-lines);
		height: 1px;
		margin-left: -10vw;
		margin-right: -15vw;
		z-index: -10;
		margin-bottom: 30px;
		display: inline-block;
	}

	.preview-container {
		max-width: 84vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.preview {
		max-width: 84vw;
		margin: 5vh 0 0 0;
	}

	.centered {
		display: flex;
		padding: 0 2vw;
		margin: 5vh 0 10vh 0;
	}

	.centered-bg {
		display: flex;
		background-color: var(--color-lines);
		justify-content: center;
		margin-top: 20px;
		padding: 80px 0;
	}

	.img-full-width {
		width: 100vw;
		z-index: -10;
		display: block;
	}
	
	.img-full-width-container {
		width: 100vw;
		margin-left: -11vw;
		z-index: -10;
		overflow: visible;
	}

	.img-full-width-top-container {
		margin-top: -11vh;
		margin-bottom: 10vh;
		width: 90vw;
		margin-left: -11vw;
		z-index: -10;
		overflow: visible;
	}

	.flex-wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.gallery-item {
		width: 100%;
		margin: 5vh 2vw;
		height: 100%;
	}

	.site-demo {
		/* box-shadow: 0 0 21px 0 rgba(0,0,0,.1); */
		max-width: 60vw;
		align-self: center;
		overflow: hidden;
	}

	.dash {
		display: none;
	}

	.langs {
		display: flex;
		flex-direction: row;
	}

	.fullview__item-titlewrap,
	.showcase-container,
	.first-view,
	.fullview__item div {
	max-width: 100vw;
	overflow: visible;
	}

	.fullview__item-number::before {
		content: '―';
		margin-right: 0.5rem;
	}

	.background-img {
		background: url("img/DN-header.jpg") no-repeat center;
		background-size: 100vw;
		overflow-x: scroll;
	}

	.mobile-demo-1 {
		width: 30vw;
		align-self: flex-start;
		margin-left: 5vw;
		margin-top: 5vh;
		overflow: hidden;
	}
	
	.mobile-demo {
		width: 30vw;
		align-self: flex-start;
		margin-left: 20vw;
	}

	.mobile-demo-container {
		display: flex;
		justify-content: center;
		margin-top: 5vh;
	}

	.mobile-footer {
		display: none;
	}

	#paris-nuits {
		height: 90vh;
	}

	.fullview__title-mobile {
		display: none;
	}

	.pic-as-bg {
		background-image: none;
		min-height: 100vh;
		background-repeat: no-repeat;
		background-size: 100vw;
		background-origin: 20px;
		background-position: 0% 0%;
	}

	.footer-border-top {
		display: none;
	}

	.contact-label {
		color: var(--color-description-full);
	}

	.credits {
		font-size: 0.8rem;
		max-width: 60vw;
		margin-bottom: -2vh;
	}

	.contact-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 85vh;
	}

	.contact-details {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.screens-gallery {
		display: flex;
		flex-direction: row;
		width: 66vw;
	}

	.screen-gallery-column {
		display: flex;
		flex-direction: column;
	}

	.screen-gallery-item img {
		width: calc(70vw/3 - 10px*3);
		margin: 5px;
	}

	#gg {
		width: 100vw;
		margin-right: 20vw;
		margin-left: 0;
	}

	.content {
		--pieces-height: 90vh;
		height: 100vh;
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/* .content__title {
		padding: 20px 80px;
		margin: 80vh 0 3vw 0;
		background: transparent;
		font-size: 1.3rem;
		color: var(--color-emphasis);
		border: 2px dotted var(--color-emphasis);
		transition: all 0.3s;
		cursor: pointer;
		max-width: 24vw;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 400;
		outline: none;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transition: none;
		-moz-transition: none;
		pointer-events: auto;
		display: flex;
		justify-content: center;
	} */

	.page-nav a {
		font-size: 1.2rem;
	}

	.content .pieces {
		left: 50%;
		top: 50%;
		height: var(--pieces-height);
		width: calc(var(--pieces-height) * calc(888/1000));
		position: absolute;
		margin-left: calc(-1 * var(--pieces-height) * calc(888/1000) / 2);
		margin-top: calc(-1 * var(--pieces-height) / 2);
		pointer-events: none;
		margin-left: 7vw;
	}

	.content__title-container {
		margin-top: -72vh;
		align-self: flex-start;
	}

	.my_story-wrap p {
		font-family: 'Oswald';
		font-size: 4.4em;
		line-height: 1em;
		width: 50vw;
		color: #000000;
		margin: 0;
	}

}
